---
import Layout from '../layouts/Layout.astro';
import Shader from '../components/Shader.astro';
---


<Layout title="Welcome to Astro.">
    <Shader />
    <main>
        <div class="intro flex-grow">
            <div class="content flex flex-col justify-center items-center h-full">
                <h1 class="mb-4 text-center">
                    <span>Le corps en poésie</span>
                    <figure class="portrait inline-block w-48">
                        <img src="https://picsum.photos/800/800" alt="Image" class="w-full h-auto">
                    </figure>
                </h1>
            </div>
        </div>

        <div>
            <p class="mx-auto text-center max-w-[75ch] leading-normal font-light text-3xl">
                Bienvenue ! Je suis Stéphanie, danseuse professionnelle et praticienne certifiée en massages bien-être depuis 2023. Ma passion pour la danse contemporaine m'a menée à explorer le corps humain sous toutes ses formes, découvrant la profondeur de son potentiel pour le bien-être et la relaxation. Formée au centre Temana à Lyon, j'ai acquis des compétences uniques pour offrir des expériences de massage personnalisées et apaisantes.
            </p>
        </div>

        <div class="flex gap-8">
            <figure class="intro-img md:max-w-xl w-full md:w-1/2">
                <img src="https://picsum.photos/400/600" alt="Image" class="w-full">
                <figcaption>Image</figcaption>
            </figure>

            <div class="texte w-full md:w-1/2">
                <h2 class="text-4xl">Un Cheminement Vers le Bien-Être</h2>
                <p class="max-w-prose w-full ml-auto mt-4">
                    Mon parcours est marqué par une quête constante de connaissance et d'épanouissement corporel. Cette démarche m'a permis de m'immerger dans diverses formations et stages, enrichissant ma pratique. Mon objectif est simple : utiliser mon expertise en danse et en massage pour vous aider à trouver détente et harmonie, en répondant aux besoins spécifiques de votre corps et de votre esprit.
                </p>

                <h2 class="text-4xl mt-12">La Danse et le Massage : Un Duo Harmonieux</h2>
                <p class="max-w-prose w-full mt-4">
                    En tant que danseuse, j'ai développé une écoute attentive et une sensibilité accrue aux besoins du corps. Cette connexion intime avec le mouvement et la matérialité corporelle s'est renforcée suite à des blessures personnelles, qui m'ont enseigné l'importance de la douceur et de l'harmonie entre l'intensité de la danse et le soin de soi.
                    Le massage est apparu dans ma vie comme un allié précieux, un partenaire dans mon parcours vers une compréhension plus profonde du corps et de ses capacités illimitées. Cette pratique est devenue pour moi un chemin vers plus de douceur, d'équilibre et d'authenticité.
                    Je vous invite à me rejoindre dans ce voyage intérieur, un périple vers la découverte et la célébration de notre corps, de sa vulnérabilité, de son humilité et de sa simplicité. Ensemble, explorons les mystères et les merveilles du corps humain.
                </p>E
            </div>
        </div>

        <section class="grid">
            <article class="box">
                <h3>Nom du contenue</h3>
                <p>Un courts sous titre pour ce type de contenu</p>
                <img src="https://picsum.photos/800/800" alt="Image">
            </article>

            <article>
                <section class="vertical">
                    <article class="box">
                        <a href="">Instagram</a>
                    </article>
                    <article class="box">
                        <a href="">Autre plateforme</a>
                    </article>
                </section>
            </article>
        </section>

        <div class="contact" id="contact">
            <h2>Contacter</h2>
            <form action="https://submit-form.com/jg9MRheYJ">
                <div class="flex gap-4">
                    <div class="flex-col gap-4">
                        <label for="name">Nom</label>
                        <input type="text" placeholder="Nom" name='name'>
                    </div>

                    <div class="flex-col gap-4">
                        <label for="forename">Prénom</label>
                        <input type="text" placeholder="Prénom" name="forename">
                    </div>
                </div>

                <div class="flex gap-4">
                    <div class="flex-col gap-4">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Email" name="email">
                    </div>

                    <div class="flex-col gap-4">
                        <label for="tel">Téléphone</label>
                        <input type="tel" placeholder="Téléphone" name="tel">
                    </div>
                </div>
                <label for="tel">Votre message</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 90%;
        max-width: 1440px;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
