<div class="mt-8" id="contact">
    <form class="flex flex-col gap-4" action="https://submit-form.com/jg9MRheYJ">
        <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-col gap-4 w-full">
                <label class="text-accent2 font-serif text-2xl" for="name">Nom</label>
                <input class="rounded-md pl-2 pr-4 py-2" type="text" placeholder="Nom" name='name'>
            </div>

            <div class="flex flex-col gap-4 w-full">
                <label class="text-accent2 font-serif text-2xl" for="forename">Prénom</label>
                <input class="rounded-md pl-2 pr-4 py-2" type="text" placeholder="Prénom" name="forename">
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-col gap-4 w-full">
                <label class="text-accent2 font-serif text-2xl mt-6" for="email">Email</label>
                <input class="rounded-md pl-2 pr-4 py-2" type="email" placeholder="Email" name="email">
            </div>

            <div class="flex flex-col gap-4 w-full">
                <label class="text-accent2 font-serif text-2xl mt-6" for="tel">Téléphone</label>
                <input class="rounded-md pl-2 pr-4 py-2" type="tel" placeholder="Téléphone" name="tel">
            </div>
        </div>
        <label  class="text-accent2 font-serif text-2xl mt-6" for="tel">Votre message</label>
        <textarea class="rounded-md" name="message" id="message" cols="30" rows="10"></textarea>
        <button class="rounded-md bg-light text-accent w-fit px-4 py-2 hover:bg-dark hover:text-light transition-colors duration-300" type="submit">Envoyer</button>
    </form>
</div>