<nav class="main-nav navanimation">
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <!-- <span>
            <svg width="24" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2766 25.8895C17.7379 23.6874 18.8322 21.6742 20.4207 20.1052C22.0092 18.5362 24.0203 17.4821 26.199 17.0766L32 16L26.199 14.9234C24.0203 14.5179 22.0092 13.4638 20.4207 11.8948C18.8322 10.3258 17.7379 8.3126 17.2766 6.11052L16 0L14.7234 6.11052C14.2621 8.3126 13.1678 10.3258 11.5793 11.8948C9.99084 13.4638 7.97968 14.5179 5.80096 14.9234L0 16L5.80096 17.0766C7.97968 17.4821 9.99084 18.5362 11.5793 20.1052C13.1678 21.6742 14.2621 23.6874 14.7234 25.8895L16 32L17.2766 25.8895Z" fill="#877b9d"/>
            </svg>
        </span> -->
        <li><a href="ayurveda.html">L'Ayurveda</a></li>
        <!-- <span>
            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2766 25.8895C17.7379 23.6874 18.8322 21.6742 20.4207 20.1052C22.0092 18.5362 24.0203 17.4821 26.199 17.0766L32 16L26.199 14.9234C24.0203 14.5179 22.0092 13.4638 20.4207 11.8948C18.8322 10.3258 17.7379 8.3126 17.2766 6.11052L16 0L14.7234 6.11052C14.2621 8.3126 13.1678 10.3258 11.5793 11.8948C9.99084 13.4638 7.97968 14.5179 5.80096 14.9234L0 16L5.80096 17.0766C7.97968 17.4821 9.99084 18.5362 11.5793 20.1052C13.1678 21.6742 14.2621 23.6874 14.7234 25.8895L16 32L17.2766 25.8895Z" fill="#877b9d"/>
            </svg>
        </span> -->
        <li><a href="index.html#contact">Contacter</a></li>
    </ul>
</nav>

<style>
  nav a {
    color: var(--primary-color);
    text-decoration: none;
  }
  nav {
    background-color: transparent; /* Make the background transparent */
    padding: 0.5rem 1rem;

    @screen md {
      padding: 0.5rem 2rem;
    }

    width: fit-content;
    border-radius: 9999px;
    position: fixed;
    top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    overflow: hidden;
    border: 1px solid rgba(220, 205, 195, 0.8);
    z-index: 2; /* Ensure nav is above the pseudo-element */
  }
  .main-nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 190, 210, 0.6); /* Darker background */
    border-radius: 9999px;
    backdrop-filter: blur(10px); /* Adjust blur */
    z-index: -1; /* Place behind the content */
  }

  nav ul {
    position: relative;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 3; /* Ensure list items are above the pseudo-element */

    @screen md {
      font-size: 1.25rem;
      gap: 1rem;
    }
  }

  nav a {
    text-decoration: none;
  }

  @keyframes navanimation {
    0%,
    50% {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
    50%,
    80% {
      opacity: 1;
      transform: translate(-50%, 1rem);
    }
    80%,
    100% {
      opacity: 1;
      transform: translate(-50%, 1rem);
    }
  }

  .navanimation {
    opacity: 0;
    animation: navanimation 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.5s forwards;
  }


</style>