<nav class="main-nav">
    <ul>
        <li><a href="ayurveda.html">L'Ayurveda</a></li>
        <li><a href="pourquoi.html">Pourquoi</a></li>
        <li><a href="contact.html">Contacter</a></li>
    </ul>
</nav>