---
import Nav from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=cinzel-decorative:400" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Georgiano";
      src: url('/fonts/GEORGIANO.woff') format('woff'),
      url('/fonts/GEORGIANO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --primary-color: #5c4a3d;
    --background-color: #f0e6df;
    --text-color: #a8a4ce;
    --accent-color: #b8e1dd;
    --border-radius: 0.5rem;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --plyr-color-main: #877b9d;
  }

  html {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
    font-family: 'Cinzel Decorative', display;
    line-height: 1.25;
  }

  a{
    color: var(--primary-color);
    text-decoration: none;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeUp {
    0%,
    50% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50%,
    80% {
      opacity: 1;
      transform: translateY(20px);
    }
    80%,
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }


  .title-container {
    overflow: hidden;
    padding-bottom: 1rem;
  }

  .title-container .title {
    opacity: 0;
    transform-origin: left;
  }
  .spin {
    animation: spin 2s linear infinite;
  }

  .fadeup {
    opacity: 0;
    animation: fadeUp 1s ease-in 2s forwards;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    font-size: 0.75rem;
    text-align: right;
    color: #999999;
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 70dvh;

    @screen md {
      min-height: 100vh;
      min-height: 100dvh;
      gap: 1rem;
    }

    align-items: center;
    justify-content: center;
  }

  .intro .content h1,
  .cal h2,
  .intro h1 {
    font-size: clamp(2rem, 15vw, 8rem);
    line-height: 1;
  }

  form input:focus,
  form textarea:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  img {
    width: 100%;
    border-radius: var(--border-radius);
  }
  .plyr--video {
    overflow: hidden;
    border-radius: 8px;
  }
  .plyr__control {
    color: var(--plyr-color-main) !important;
  }

  .plyr__control svg {
    fill: white !important;
  }
</style>
